@use "../../styles/buttons.scss";

.container {
  background-color: var(--color-bg);
  box-shadow: var(--shadow-controls);

  position: fixed;
  bottom: 16px;
  left: 16px;
  padding: 2px;
  border-radius: 48px;

  display: flex;

  > button {
    @include buttons.base;
    font-size: 0.8rem;
    margin-right: 2px;
    height: unset;

    color: var(--color-text-secondary);

    &:last-of-type {
      margin-right: 0;
    }

    &.selected {
      color: var(--color-text);
    }
  }
}
