div.show-hide-container {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  .show-hide-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 5px 10px;
  }
}
