@use "../../styles/buttons.scss";

.container {
  position: fixed;
  top: 16px;
  right: 16px;
  padding: 2px;
  border-radius: 48px;

  display: flex;
  flex-direction: column;

  background-color: var(--color-bg);
  box-shadow: var(--shadow-controls);

  > button {
    @include buttons.icon-button;
    margin-bottom: 2px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
