.place-details {
  width: 100%;
  cursor: pointer;
}

.close-holder {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 20px;

  .close-btn {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-outline);
    border-radius: 999px;
    color: var(--color-text);
    cursor: pointer;
    transform: rotate(45deg);

    background-color: transparent;
    background-image: var(--close);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: var(--color-hover2);
    }
  }
}
