div.toggler {
  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 32px;
    appearance: none;
    font-family: inherit;
    padding: 5px 10px;
    color: #999999;

    &.selected {
      color: var(--color-text);
    }
  }
}
